/************************************FUENTES DEL SITIO*********************************************************************/
@import url("fuentes.css");
.text-blanco {
  color: #fff; }

.espacio {
  margin-bottom: 110px; }

.spacer__sm {
  margin-bottom: 65px; }

body {
  font-family: "Raleway-Regular"; }
  body html, body body {
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #414141;
    overflow-x: hidden; }

.home-espacio {
  margin-bottom: 3em; }

.home-logo img {
  width: 60px;
  height: 58px;
  margin-top: 5px; }

@media (max-width: 480px) {
  .home-logo {
    padding: 0 auto; } }

.boton-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .boton-menu a {
    margin-left: 50px;
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-size: 18pt; }
  .boton-menu:hover {
    color: #414141;
    list-style: none;
    text-decoration: none; }
  .boton-menu .boton-menu-item {
    margin-top: 20px; }

.home-inicio {
  padding-left: -15px;
  padding-top: 11px; }
  @media (max-width: 480px) {
    .home-inicio {
      text-align: center; } }

.home-menu {
  padding-bottom: 21px;
  position: fixed;
  z-index: 100;
  background-color: #3a66b8; }
  @media (max-width: 480px) {
    .home-menu {
      position: fixed;
      z-index: 120;
      margin-bottom: 120px; } }

.home-contacto {
  color: #fff;
  padding-top: 26px; }
  .home-contacto i {
    font-size: 18px; }

.home-tel {
  margin-top: -5px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  text-decoration: none; }

.home-enter {
  margin-top: 20px; }
  .home-enter a {
    text-decoration: none;
    color: #fff; }

.carrusel {
  width: 100%;
  height: 550px;
  margin-bottom: 75px; }
  @media (max-width: 640px) {
    .carrusel {
      width: 100%;
      height: 200px; } }

.carrusel .carousel-item {
  height: 550px; }
  .carrusel .carousel-item img {
    width: 100%; }
  @media (max-width: 480px) {
    .carrusel .carousel-item {
      height: 200px; } }

.home-slider {
  position: absolute;
  width: 100%;
  margin-top: -480px;
  margin-left: 610px; }
  .home-slider h1 {
    font-size: 33px;
    text-transform: uppercase;
    color: #3a66b8;
    font-weight: bold; }
  .home-slider .home-btn-mas {
    width: 180px;
    height: 45px;
    color: #513e7a;
    border-color: #513e7a; }
    .home-slider .home-btn-mas:hover {
      color: white;
      background: #513e7a;
      -webkit-transition: .8s;
      -o-transition: .8s;
      transition: .8s; }
  @media (max-width: 480px) {
    .home-slider {
      margin-top: -110px;
      margin-left: 180px; }
      .home-slider h1 {
        font-size: 11px;
        text-transform: uppercase;
        color: #3a66b8;
        font-weight: bold; }
      .home-slider .home-btn-mas {
        width: 60px;
        height: 45px;
        color: #513e7a;
        border-color: #513e7a; }
        .home-slider .home-btn-mas:hover {
          color: white;
          background: #513e7a;
          -webkit-transition: .8s;
          -o-transition: .8s;
          transition: .8s; } }

.btn-contacto {
  width: 100%;
  height: 45px;
  color: white;
  background: #513e7a; }
  .btn-contacto:hover {
    color: white;
    background: #9270e4;
    border-color: #513e7a;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s; }

.btn-inicio {
  border-radius: 0 !important; }

.home-slider2 {
  position: absolute;
  width: 100%;
  margin-top: -420px;
  margin-left: 200px; }
  .home-slider2 h1 {
    font-weight: bold;
    font-size: 33px;
    text-transform: uppercase;
    color: #513e7a; }
  .home-slider2 .home-btn-mas {
    width: 180px;
    height: 45px;
    color: #513e7a;
    border-color: #513e7a; }
    .home-slider2 .home-btn-mas:hover {
      color: white;
      background: #513e7a;
      -webkit-transition: .8s;
      -o-transition: .8s;
      transition: .8s; }

.home-btn-contacto {
  width: 180px;
  height: 45px;
  color: #513e7a;
  border-color: #513e7a; }
  .home-btn-contacto:hover {
    color: white;
    background: #513e7a;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s; }

.info-emp {
  margin-bottom: 110px; }

.home-social h5 {
  font-family: "Raleway-Bold"; }

.contenedor {
  width: 100%;
  margin: 0 auto; }

/**************************************** CSS para el MENU ***************************************************************/
#wrapper {
  padding-left: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  margin-top: 90px;
  z-index: 90;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #3a66b8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* @media screen and (min-width: 350px){
    width: 100%;
  }*/ }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #fff; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0; }
  #wrapper.toggled {
    padding-left: 250px; }
  #sidebar-wrapper {
    width: 0; }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px; }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

/**************************************** FIN CSS para el MENU ***************************************************************/
.content {
  width: 95%;
  margin: 0 auto; }

/**************************************** CSS para el BANNER ***************************************************************/
.home-banner {
  width: 100%;
  height: 320px;
  position: relative;
  background-color: #513e7a;
  margin-bottom: 110px; }

.icon-cliente span {
  margin: 0 auto;
  margin-top: 45px;
  display: table;
  color: #fff;
  font-size: 95px; }

.icon-cliente p {
  color: #fff;
  font-size: 32px;
  margin: 0 auto;
  display: table; }

/**************************************** FIN CSS para el BANNER ***************************************************************/
.home-titulos h2 {
  font-family: "Raleway-Bold";
  color: #513e7a; }

@media (max-width: 480px) {
  .home-titulos {
    text-align: center; } }

.img-circle .info {
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 300px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-radius: 50% !important;
  margin-top: -300px;
  color: #fff; }

.img-circle:hover .info {
  opacity: 1; }
  .img-circle:hover .info h3 {
    margin-top: 120px;
    margin-left: 96px; }

/**************************************** CSS para el FOOTER ***************************************************************/
.home_footer h5 {
  font-weight: bold;
  color: #19CEC5; }

.home_footer p {
  font-family: "Raleway-Regular";
  color: #414141; }

.footer_social a {
  text-decoration: none;
  color: #95989A; }

.footer_social li {
  margin: 0 21px 10px 0;
  font-size: 30px; }

.footer_social li.facebook a:hover {
  color: #3b5998; }

.footer_social li.twitter a:hover {
  color: #55acee; }

.footer_social li.instagram a:hover {
  color: #0976b4; }

.footer_social li.youtube a:hover {
  color: #b31217; }

.footer_social li.pinterest a:hover {
  color: #cb2027; }

.footer_social li.googleplus a:hover {
  color: #dd4b39; }

.footer_social {
  margin-left: -30px;
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex; }

.img-footer {
  margin-top: 50px; }

/*****************************************CSS  SCROLL ******************************************************************/
/*este pedazo se lo agregue para hacer el Scroll Top con jQuery*/
.scrolltop {
  background-image: url("../images/scrolltop.png");
  background-repeat: no-repeat;
  bottom: 25px;
  display: none;
  height: 82px;
  left: auto;
  overflow: hidden;
  padding: 17px 16px;
  position: fixed;
  right: 28px;
  top: auto;
  width: 85px;
  z-index: 90; }

/* Isotope Items
---------------------------------- */
.filters {
  margin: 0 0 30px 0; }

.filters .nav-pills > li {
  margin-right: 2px;
  margin-bottom: 2px; }

.filters .nav-pills > li + li {
  margin-left: 0px; }

.text-center.filters .nav-pills > li {
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  display: inline-block;
  float: none; }

.isotope-container {
  overflow: hidden; }

.isotope-item {
  margin-bottom: 20px; }

.isotope-item .btn-default {
  color: #999999; }

.isotope-item .btn-default:hover {
  color: #ffffff; }

@media (max-width: 480px) {
  .filters .nav-pills > li {
    width: 100%;
    display: block; } }

/* Images Overlay
----------------------------------------------------------------------------- */
.overlay-container {
  position: relative;
  display: block;
  overflow: hidden; }

.overlay {
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  right: -1px;
  background-color: rgba(190, 42, 190, 0.8);
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }

.overlay:hover {
  text-decoration: none; }

.overlay span {
  position: absolute;
  display: block;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300; }

.overlay i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 18px;
  line-height: 1x;
  color: #ffffff;
  margin-top: -8px;
  margin-left: -8px;
  text-align: center; }

.overlay-container:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

/* Modals
---------------------------------- */
.modal-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.modal-header {
  background-color: #be2abe;
  color: #ffffff;
  border-radius: 0; }

.modal-header h4 {
  color: #ffffff; }

.modal-header .close {
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1; }

/* Pills
---------------------------------- */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover {
  background-color: #3a66b8;
  border-color: #3a66b8;
  color: #ffffff; }

.nav-pills > li > a {
  border-radius: 0;
  padding: 8px 20px;
  border: 1px solid #cacaca;
  color: #666666;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300; }

/* Imagenes de galeria
---------------------------------- */
.img-galeria {
  display: block;
  max-width: 100%;
  height: auto; }

/*CSS para el mapa de l footer
---------------------------------*/
.home-mapa iframe {
  width: 720px;
  height: 250px; }
  @media (max-width: 480px) {
    .home-mapa iframe {
      width: 320px;
      height: 250px; } }

/*Css boton de formulario
-------------------------------------*/
.formulario a {
  color: #513e7a;
  border-color: #513e7a; }
  .formulario a:hover {
    background-color: #513e7a;
    color: #fff; }

/*css boton de registro
----------------------------------------------*/
.btn-reg {
  color: #fff;
  border-color: #513e7a;
  background-color: #513e7a;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s; }
  .btn-reg:hover {
    color: white;
    background: #8259da; }

/*  CSS PARA CARRUSEL DE EDECANES
-------------------------------------*/
.carrusel_edecan {
  margin-bottom: 65px; }

.home_juntar {
  padding-top: 63px; }
  @media (max-width: 480px) {
    .home_juntar {
      padding-top: 305px; } }

.registro_juntar {
  margin: 0 auto;
  padding-top: 110px;
  width: 92%;
  margin-bottom: 75px; }
  @media (max-width: 480px) {
    .registro_juntar {
      padding-top: 340px; } }

/*css para el boton de iniciar session
  -------------------------------------*/
.contorno {
  width: 100%; }

.btn-sesion {
  height: 31px;
  color: #fff;
  background-color: #3a66b8;
  border-color: #fff; }
  .btn-sesion:hover {
    background-color: #6c43c4;
    border-color: #6c43c4; }
  @media (max-width: 481px) {
    .btn-sesion {
      width: 100%; }
      .btn-sesion:hover {
        border-color: #6c43c4; } }
